/*GIVEN COLORS:*/
:root {
    --light-cyan: hsl(193, 38%, 86%);
    --neon-green: hsl(150, 100%, 66%);
    --grayish-blue: hsl(218, 20%, 24%);
    --dark-grayish-blue: hsl(217, 19%, 24%);
    --dark-blue: hsl(218, 23%, 16%);
}

::selection {
    background-color:hsl(150, 100%, 66%);
    color: black;
}

/* RESETTING EVERYTHING */
* {
    margin: 0;
    padding: 0;
}

/* APPLIED STYLES */
html {
    /*BOX MODEL*/
    box-sizing: border-box;
    background-color: var(--dark-blue);
    font-family: "Monrope", sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.panel {
    width: 75%;
    height: 75%;
    background-color: var(--grayish-blue);
    text-align: center;
    padding: 50px 25px 0px 25px;
    border-radius: 5px;
}
.panel h1, .advice-count {
    color: var(--neon-green);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 12px;
}

.advice-text {
    color: var(--light-cyan);
    font-size: 28px;
    padding: 30px 0px;
    font-weight: 800px;
}

@keyframes mycuteanimation {
    0% {
        box-shadow: 0 0 20px rgba(255, 174, 174, 0.9);
    }
    50% {
        box-shadow: 0 0 20px rgba(161, 255, 161, 0.9);
    }
    100% {
        box-shadow: 0 0 20px  rgba(161, 255, 161, 0.9);
    }
}

.divider {
    position: inline-block;
    width: 100%;
    padding-bottom: 15px;
}

button {
    transform: translateY(50%);
    background-color: var(--neon-green);
    border: none;
    border-radius: 50%;
    padding: 20px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

button:hover {
    animation: mycuteanimation 5s infinite;
    transform: translateY(50%);
}

button:active {
    transform: translateY(50%) scale(0.9);
}
@keyframes animationForButton{
    0% {
        color: rgba(12, 221, 169, 0.9);
    }
    50% {
        color: rgba(54, 100, 250, 0.9);
    }
    100% {
        color: rgba(237, 105, 255, 0.9);
    }
}

.attribution {
    position: absolute;
    font-size: 11px;
    text-align: center;
    color: var(--light-cyan);
    margin-top: 50px;
    bottom: 0%;
    padding: 2% 0%;
}
.attribution a {
    text-decoration: none;
    color: var(--neon-green);
    transition: all 0.5s infinite;
}

.attribution a:hover{
    animation: animationForButton 5s infinite;
}
@media (min-width: 885px) {
    .panel {
        width: 34%;
    }
    .divider.mobile {
        display: none;
    }
    .divider.desktop {
        display: none;
    }
}
